<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OCR Project</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
    <!-- Add an Upload Button to the Navbar -->
    <button class="btn btn-primary" (click)="openFileSelector()">Upload Image</button>
  </div>
</nav>

<!-- File input hidden, to be triggered by the button click -->
<input id="file-input" type="file" style="display: none;" (change)="onFileSelected($event)" />

<router-outlet></router-outlet>
